@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  height: 100%;
  overflow: auto;
}
/*Removing arrows from input type=number field*/
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }