#heart{
    animation: example 3s linear 4s infinite alternate;
    -webkit-animation:example 3s linear 4s infinite alternate ;
    z-index:0;
    }
@keyframes example{
    0%   { transform:scale(1,1) rotate(2deg)}
        50%  {transform:scale(1.10,1.07) rotate(0) }
        100%{transform: scale(1);}
        }
